.login-page{
    background-color: #e0ebeb;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

    .details{
        border: 1px dashed #1a1a1a ;
        border-radius: 8px;
        font-size: 15px;
        color: #1a1a1a;
        margin-top: 9%;
        padding: 7% 0% 6%!important
}

.log_out{
    font-size: 14px!important;
margin-top: 7%;
color: white!important;
}
.bg-light-header
{background-color: #809fff!important;}
.nav{
    color:#ebebe0 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    list-style: none!important;
}