.login-page{
    background-color: #e0ebeb;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.aprove{
    margin-top: 20%;
    border: 1px solid #666666;
    border-radius: 8px;
}