/********************************* Globle ******************************/

.left{
	text-align:left;
}
input[type="url"]{
	padding:10px;
}


/********************************* Main page ***************************/

.searchsection{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire*/
	height:100%;
	background: #5385c1;
	padding-top:50px;
	padding-bottom:50px;
}

.searchcontent{
	color:white;
	padding-top:80px;

}

.image-text{
	position: absolute;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
	  z-index: 100;
	  font-size: 20px;

}
.dropdown-item:hover{
	cursor : pointer;
}
.contents{
	display: none;
	position: absolute;
	background-color:white;
	color: black;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
	border: 0;
	outline: 0;
	z-index: 1;
	margin-top: 3px;
}
.contents:hover{
	cursor: pointer;
}



.relative{
	position :relative;
}
.blackplace{
	color:black;
}
.blackplace::-webkit-input-placeholder{
	color:black;
}
.padding{
	padding:10px;
}

.overlay {
	position: relative;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.overlay:after {
  position: absolute;
  content:"";
  color:white;
  top:0;
  left:0;
  width:100%;
  height:100%;
   background-color: black;
  opacity: .2;

}


.partner-image{
	    margin:auto;

}


.hotel-list-section{
	background: #5385c1;
	color:white;
}

.wfont{
	color:white;
}

.center{
	text-align:center;
}

.inner2 {
		max-width: 75em;
		margin: 0 auto;
	}

		@media screen and (max-width: 1280px) {

			.inner2 {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.inner2 {
				max-width: 85%;
			}

		}

#panel, #flip {
	padding:10px;
    text-align: center;
    background-color: white;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 20px;
    display: none;
}


#searchpanel {
	display:block;
    display: block;
	width:100%;

	height:auto;

}

.stick {
	width:100%;
	position: fixed;

	top: 0;
	z-index: 100;
	padding: 0;
	background-color:#5385c1;
	color:white;
}

/******************************** Contact Page ************************************/

.contact{
	height:auto;
	background: #5385c1;
}



/********************************** About ********************************************/

.topborder{
	border-top: 1px solid #dbdbdb;
	padding-top: 3em;
}



/******************************* City Search *********************************************/

#map{
	height:250px;
	width:350px;
}

.map{
	height:350px;
	width:450px;
}


/********************************** Hotel Search Page ************************************/

 /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 093 css*/
        .jssora093 {display:block;position:absolute;cursor:pointer;}
        .jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
        .jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
        .jssora093:hover {opacity:.8;}
        .jssora093.jssora093dn {opacity:.6;}
        .jssora093.jssora093ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

		.newrow{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: -15px;
        }

		.righthotel{

		background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


#hotel_info{
	height:100%;
	background-color: #5385c1;
}

.center-td th{
	text-align:center;
}

.onhovera{
	text-decoration:none;
}

#hotel_map{
	height:400px;
	width:100%;
}

.reply-input{
    display:block;
}
.reply-input{
	display:none;
}





#loader,#more_hotel_loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


#loading{
	padding-top:250px;
	padding-bottom:250px;
}

#more_hotel_loading{
	padding-top:250px;
	padding-bottom:250px;
	display:none;
}


.between{
	padding-left:20px;
	padding-right:20px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.option{
    padding-top:10px;
    padding-bottom:10px;
}

.hide{
    display: none !important;
}

.option-style{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

select{
    border-radius: 0px !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: left;
}

.border-radius-0{
    border-radius: 0px !important;
}

.black-text{
    color: #000 !important;
}
