.login-page{
    background-color: #e0ebeb;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login_logo{
    font-size: 35px;
    margin-top: 8%;
    font-weight: 600; 
    color: midnightblue;
}
.login-box{
    background-color: #fff;
    color: #666;
    padding: 4%;
}
.sign_in_data{
    margin-top: 4%;
    color: blue;
    padding-left: 0px;
}